*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(169, 220, 211);
}

nav img{
    width: 150px;
    height: auto;
    margin-top: 10px;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    pad: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(255, 123, 21);
}

.details{
    margin-left: 8%;
    margin-top: 13%;
}

.details h2{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: orange;
}

.details p{
    width: 650px;
    color: #555;
    line-height: 22px;
}

.details a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-top: 30px ;
    border-radius: 5px;
}

.details a:hover{
    background: orange;
    color: #212121;
}

.images{
    width: 65%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 65%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.footer_panel{
    background-color: black;
    color: white;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
} 

@media screen and (max-width:700px)
{
    .hero{
        width: 100%;
        position: absolute;
        background-color: rgb(206, 229, 225);
    }

    nav img{
        width: 70px;
    }

    nav{
        display: flex;
        width: 100%;
        margin: 5px;
        pad: 5px 0;
    }

    nav ul li{
        display: inline-block;
        list-style: none;
        margin-left: 0px;
        margin-right: 10px;
    }

    .details p{
        width: 300px;
        color: #555;
        line-height: 22px;
    }

    nav ul li a{
        text-decoration:solid;
        color: black;
        font-weight: bold;
    }

    .details h2{
        font-size: 40px;
        color: #212121;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .images{
        width: 0;
        height: 0;
    }
    
    .images img{
        height: 0;
        width: 0;
    }
}
